---
// This is where your code or logic goes later
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>The Smart Home People</title>
  </head>
  <body>
    <h1>The Smart Home People</h1>
    <p>Welcome to your new TP-Link Tapo smart home resource hub. Under construction!</p>
  </body>
</html>
